*{
	margin: 0;
	color: rgb(255, 187, 0);
	background-color: #000000;
	font-family: sans-serif;
}
.img{
	position: absolute;
	width: 100%;
	height: calc(100vh-table.height);
	z-index: 1;
	background-color: #00000000;
	opacity: 100%;
}
.main-menu a{
	color: white;
	text-decoration: none;
} 
.user-panel a{
	text-decoration: none;
	font-weight: 500;
	background-color: rgb(255, 187, 0);
}

.container{
	margin: auto;

}
.container .board-container,
.container .results-container {
	margin-top: 60px;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.container .results-container {
	position: absolute;
	height: 500px;
    width: 300px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

#player1,
#player2 {
	border: 1px solid grey;
	padding: 10px;
	margin-top: 20px;
}

.stats {
	font-size: 12px;
	color: grey;
}

#board {
    width: 100%;
    height: auto;
	background-color: #ffffff;
}

#board tbody {
	background-color: #ffffff;
}

#board tr {
    height: 50px;
    border-bottom: 1px solid rgb(255, 0, 0);
}

#board tr td {
	position: relative;
    height: 50px;
    width: 50px;
}

#board tr td .position-index {
	position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
	font-weight: 800;
	background-color: inherit;
	color: #000000;
}

#board tr td .player1,
#board tr td .player2 {
	height: 15px;
	width: 15px;
	border-radius: 8px;
	display: inline-block;
}

#board tr td .player1 {
	background-color: rgb(255, 0, 204);
	width: 23px;
	height: 23px;
	position: absolute;
	z-index: 2;
}

#board tr td .player2 {
	background-color: rgb(0, 0, 0);
	width: 23px;
	height: 23px;
	position: absolute;
	z-index: 2;
}
.actions{
	text-align: center;
}
#roleDice,
#reset{	
	margin: 2%;
	padding: 10px;
	border-radius: 5px;
	font-weight: 700;
	border: 0;
	background-color: #ffae00;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
td{
	transition: 0.3s;
}
td:hover{
	opacity: 50%;
}

#board td:nth-of-type(even) {
	background-color: #999999;
  }
#board td:nth-of-type(odd) {
	background-color: #FFEFBA;
  }
#board tr:nth-of-type(even)
  td:nth-of-type(even) {
    background-color: #FFEFBA;
  }
  #board tr:nth-of-type(even)
  td:nth-of-type(odd) {
    background-color: #919191;
  }

  .footer{
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 0.7em;
	padding: 20px;
	}
	.footer p{
		color: white;
	}
	.footer span{
		color: rgb(255, 217, 0);
	}
